services:
  # backend:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: 'barberque_backend'
  #   env_file:
  #     - ./.env
  #   ports:
  #     - "3000:3000"
  #   restart: unless-stopped
  #   depends_on:
  #     - postgres
  #   environment:
  #     DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/barberque?schema=public"

  postgres:
    image: postgres:16
    container_name: barberque_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: barberque
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
